# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [3]:
import pandas as panda
import numpy as nump
#bringing in the L I B R A R I E S

In [8]:
location = "datasets_travel-times.csv"
titr_df = panda.read_csv(location)

In [9]:
titr_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [29]:
titr_df.dtypes

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy        object
TotalTime         float64
MovingTime        float64
Take407All         object
Comments           object
dtype: object

In [10]:
titr_df.tail()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [11]:
titr_df.count()

Date              205
StartTime         205
DayOfWeek         205
GoingTo           205
Distance          205
MaxSpeed          205
AvgSpeed          205
AvgMovingSpeed    205
FuelEconomy       188
TotalTime         205
MovingTime        205
Take407All        205
Comments           24
dtype: int64

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [14]:
location2 = "income_expenses.xlsx"
expen_df = panda.read_excel(location2)

In [15]:

expen_df.tail()

   Income Range                    Category  Amount Class_level
30       $1000+                        Rent    0.00  Well To-Do
31       $1000+                        Food  326.25  Well To-Do
32       $1000+                     Clothes  180.00  Well To-Do
33       $1000+                       Taxes   50.62  Well To-Do
34       $1000+  Other Expenses and Savings  568.13  Well To-Do

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [16]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]

In [5]:
Grades = (list(zip(names, grades))) #to make the matrice a "matched up" list, 0:0, 1:1, etc

shoes = panda.DataFrame(data = Grades, columns=["Shoe Brand","Grade"])
shoes.to_csv('shoes.csv',index=False,header=True)

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [12]:
titr_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [18]:
expen_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [23]:
expen_df.groupby('Income Range')
expen_df['Amount'].groupby(expen_df['Income Range']).sum()

Income Range
$100-200      139.10
$1000+       1125.00
$200-300      249.45
$300-400      335.68
$400-500      433.82
$500-750      557.00
$750-1000     880.00
Name: Amount, dtype: float64

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [24]:
titr_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [28]:
panda.pivot_table(titr_df, index='DayOfWeek')

,AvgMovingSpeed,AvgSpeed,Distance,MaxSpeed,MovingTime,TotalTime
DayOfWeek,,,,,,
Friday,87.937037,81.659259,50.958889,127.559259,35.114815,37.922222
Monday,81.405128,73.197436,50.795897,127.017949,38.146154,43.197436
Thursday,82.809091,74.365909,50.902727,127.986364,37.418182,41.177273
Tuesday,80.893750,73.781250,51.127500,128.235417,38.427083,42.520833
Wednesday,79.348936,72.229787,51.073191,127.059574,39.085106,43.170213

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [30]:
titr_df.head()
#just looking at the data

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [35]:
#attempting to create a new column that tracks "going home? T/F"
#column will be called "HomewardBound"

titr_df['HomewardBound'] = nump.where(titr_df['GoingTo']=='Home', 'yes','no')
titr_df.head()

#Got it working! Hip hip hooray!

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,HomewardBound
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,yes
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,no
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,yes
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,no
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,yes

In [40]:
#Now going to create a bins measuring avg speed--lets say 
#but first we have to see what AvgSpeed looks like

titr_df['AvgSpeed'].mean()

74.47756097560978

In [41]:
titr_df['AvgSpeed'].mode()

0    71.5
dtype: float64

In [42]:
titr_df['AvgSpeed'].max()

107.7

In [43]:
titr_df['AvgSpeed'].min()

38.100000000000001

In [44]:
#now we can begin to define some bins to sort this into
#(this is pulling from Module 3 as well)

bins = [30,40,50,60,70,80,90,100,110]

#crafting names for these groups--we are going to use
#the tens number, with an 's' to minimize confusion.
speed_is = ['30s','40s','50s','60s','70s','80s','90s','100+']

#making a new column with the speed group
titr_df['SpeedGroup'] = panda.cut(titr_df['AvgSpeed'],bins, labels=speed_is)
titr_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments,HomewardBound,SpeedGroup
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN,yes,70s
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN,no,80s
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN,yes,80s
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN,no,70s
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN,yes,80s