<h1> Practice Project No.l</h1>

<b>2019 March</b>
<p>Rama, Thomas, Cameron</p>

<i> Code commentary is #commented out# in the script boxes, and project commentary is included in italicized text such as this. (Expository)
</i>

<h3>The Beginning</h3>

In [1]:
#import Panda and Numpy
import pandas as pd
import numpy as np

In [6]:
#defining the location for data and attempting to read it with panda
location = "datasets/DC_Properties.csv"
dcl_df = pd.read_csv(location, low_memory=False)

<i>Looking at the data we just loaded! Let's hope that worked! Without the command modifier 'low_memory=False' we get a memory error. The error does not prevent work from being done, but it is annoying to get an error in any case, so we have elected to run the command as such to minimize error messages.
</i>

In [7]:
dcl_df.head()
#looking at the head of our data file

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW

In [9]:
#looking at the end of the file
dcl_df.tail(1)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0504,-77.018232,38.872961,SW

<h3>Tepid Initial Analysis</h3>
<p><h4> Getting A Feel</h4></p>

In [26]:
#looking for duplicates in the data
dupe = dcl_df.duplicated()
dcl_df[dupe]
#there appear to be no duplicates in this data
#it is already remarkably clean

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

<i>There are no values that duplicate across all 49 columns. This is good, it makes our initial job (maybe) that much easier...
</i>

In [40]:
#looking at the data names and column types
#there are 49 unique columns present in the CSV
#The first 'Unnamed: 0' is a count-up from 0 to 158956
dcl_df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [11]:
#describe the data, looking at min/max etc
dcl_df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

<h3> Ward Breakdown: What Where?</h3>

In [16]:
#trying to figure out how many homes per which ward are present
#that is, count of presence of "Ward X" in column WARD

dcl_df['WARD'].value_counts()

Ward 6    23973
Ward 3    23688
Ward 4    22202
Ward 2    22167
Ward 5    21359
Ward 1    17455
Ward 7    17206
Ward 8    10906
Name: WARD, dtype: int64

<i> It would appear the Wards have very comparable sales rates. Surprisingly, Ward 6 tops the chart--possiblye due to it's larger size? Not surprising is the low volume of sales in Ward 1 (which would be very expensive) and Ward 8, which is somewhat neglected.
</i>

In [28]:
dcl_df['LIVING_GBA'].groupby(dcl_df['WARD']).mean()
#attempting to display the average LIVING_GBA by ward
#does one area have more living space than an other?
#we predict a 'yes'

WARD
Ward 1     895.214028
Ward 2     860.502595
Ward 3     932.902108
Ward 4     860.575610
Ward 5    1010.261691
Ward 6     883.013510
Ward 7     793.582723
Ward 8     840.932631
Name: LIVING_GBA, dtype: float64

<i>
</i>

In [22]:
dcl_df['LIVING_GBA'].groupby(dcl_df['WARD']).median()
#mean may be skewed by a larger farmhouse in Ward 5
#so we now look at the median

WARD
Ward 1    831.0
Ward 2    752.0
Ward 3    810.0
Ward 4    740.0
Ward 5    900.0
Ward 6    781.0
Ward 7    708.0
Ward 8    766.0
Name: LIVING_GBA, dtype: float64

In [30]:
#sorting ward by most rooms of a property in that area
dcl_df['BEDRM'].groupby(dcl_df['WARD']).max()

WARD
Ward 1    20
Ward 2    19
Ward 3    16
Ward 4    24
Ward 5    14
Ward 6    12
Ward 7    12
Ward 8    13
Name: BEDRM, dtype: int64

In [31]:
#sorting ward by median price
dcl_df['PRICE'].groupby(dcl_df['WARD']).median()

WARD
Ward 1    461500.0
Ward 2    475000.0
Ward 3    600000.0
Ward 4    428000.0
Ward 5    360710.0
Ward 6    469900.0
Ward 7    200000.0
Ward 8    194900.0
Name: PRICE, dtype: float64

In [36]:
#ward by maximum price (and minimum)

dcl_df['PRICE'].groupby(dcl_df['WARD']).max()

WARD
Ward 1     12780000.0
Ward 2     53969391.0
Ward 3    137427545.0
Ward 4      5000000.0
Ward 5      5250000.0
Ward 6     11000000.0
Ward 7     11000000.0
Ward 8     25100000.0
Name: PRICE, dtype: float64

In [37]:
#minimum price
dcl_df['PRICE'].groupby(dcl_df['WARD']).min()

WARD
Ward 1     10.0
Ward 2     10.0
Ward 3      1.0
Ward 4    250.0
Ward 5      1.0
Ward 6      1.0
Ward 7     10.0
Ward 8      1.0
Name: PRICE, dtype: float64

<h3>Structural Affairs</h3><p><h4>The Shape of Sales</h4></p>

In [39]:
#which style of building is most common?
#we assume
dcl_df['STRUCT'].value_counts()

Row Inside       40593
Single           32063
Semi-Detached    16756
Row End          12225
Multi             4726
Town Inside        218
Town End            85
Default             26
Vacant Land          4
Name: STRUCT, dtype: int64

<i> It appears that D.C.'s famous row houses are indeed the best-setlling model on the market. What, exactly, "Default" means is anyone's guess, we might assume it to be a standard, standalone single-family dwelling based on the presence of "Town" and "Row" in the other titles.
Vacant land--always hard to come by in a city in the first place, by definition--only sold four times. Some questions: Was this the same land, sold four times? What were the sizes of the lot(s)?
</i>

<h3> The Highest [Bank]Notes</h3>
<p><h4>Cost and Space Among the Upper Decile</h4></p>

In [ ]:
##found on stackexchange:
#look into using pandas.qcut
#pandas documentation
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

#>>> pd.qcut(range(5), 4)
# doctest: +ELLIPSIS
#[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
#Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] ...

In [44]:
##COPIED FROM EXERCISE 3 AS A GUIDE
##
##
#Interquartile Range Method
#q1 = dcl_df['PRICE'].decile(.10)
#q9 = dcl_df['PRICE'].decile(.90)
#iqr = q9-q1
#toprange = q3 + iqr * 1.5
#botrange = q1 - iqr * 1.5

#copydf = df.copy()
#copydf = copydf.drop(copydf[copydf['grade'] > toprange].index)
#copydf = copydf.drop(copydf[copydf['grade'] < botrange].index)

#copydf.head()